.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}