.Gamebox {
    top: 1.2em;
    cursor: url(Crossdot\ Precision\ Select.cur), auto;
    overflow: hidden;
    height: 100%;
}


.word {
    font-size: 400%;
    display:flex;
    justify-content: center;
}
.buttonprops {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.line {
   color: red;
   background-color: red;
}

.Timer {
    position: relative;
    padding-left: 10px;
    padding-top: 5px;
    
}

div.misc {
    border-bottom:3px solid rgb(169, 31, 31);
}