.Gamebox {
    top: 1.2em;
    cursor: url(Crossdot\ Precision\ Select.cur), auto;
}

.word {
    font-size: x-large;
    display:inline;
    position: relative;
   
    left: 30em;
}
.buttonprops {
    background-color: transparent;
    border: none;
    cursor: pointer;
}