.playbutton {
    display: flex;
    justify-content: center;
    position: relative;
<<<<<<< HEAD
    top: 8.5em;
=======
    top: 35em;
>>>>>>> 25cb37c2668794df84a5180c6bd13e015825f1f5
}

.buttonprop {
    background-color: rgba(241, 249, 250, 0);
    border: none;
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 10px;
    margin: 3px 0px;
    cursor: pointer;
}