.playbutton {
    display: flex;
    justify-content: center;
    position: relative;
    top: 35em;
    position: absolute;
    top: 35em;
    right: 43em;
}

.buttonprop2 {    
    background-color: rgba(241, 249, 250, 0);
    border: none;
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 10px;
    margin: 3px 0px;
    cursor: pointer;
}