.bg {    
    background-color: rgb(6, 54, 102);
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 3.3em;
    font-size:0.9cm;
    line-height: 0.7cm;
    font-weight: 600;
}

.font {
    font-size:0.5cm;
    color: white;
}

.btn-light {
    background: none;
    border: none;
    font-size: x-large;
    font-weight: 400;
    color: white;
}