.bg {    
    background-color: rgb(6, 54, 102);
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 3.3em;
    font-size:0.9cm;
    line-height: 0.7cm;
    font-weight: 600;
}

.font {
    font-size:0.5cm;
    color: white;
}

.buttonprop {
    background-color: rgba(241, 249, 250, 0);
    border: none;
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 10px;
    margin: 3px 0px;
    cursor: pointer;
}